--
-- PostgreSQL database dump
--

\restrict VS1cPSEokpdKGpX80Q2dGaJFCi4fevr6cNioEzUAoDNhzEU8jaIV6qDDAVAh6lb

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: bigbull; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA bigbull;


ALTER SCHEMA bigbull OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: appuser; Type: TABLE; Schema: bigbull; Owner: postgres
--

CREATE TABLE bigbull.appuser (
    userid character varying(50) NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    phonenumber character varying(20),
    address character varying(255),
    pannumber character varying(20),
    kycstatus character varying(20),
    password character varying(255),
    CONSTRAINT appuser_kycstatus_check CHECK (((kycstatus)::text = ANY ((ARRAY['Verified'::character varying, 'Pending'::character varying, 'Unverified'::character varying])::text[])))
);


ALTER TABLE bigbull.appuser OWNER TO postgres;

--
-- Name: company; Type: TABLE; Schema: bigbull; Owner: postgres
--

CREATE TABLE bigbull.company (
    companyname character varying(100) NOT NULL,
    sector character varying(50) NOT NULL
);


ALTER TABLE bigbull.company OWNER TO postgres;

--
-- Name: demataccount; Type: TABLE; Schema: bigbull; Owner: postgres
--

CREATE TABLE bigbull.demataccount (
    demataccid character varying(50) NOT NULL,
    linkeddepository character varying(50),
    dateopened date DEFAULT CURRENT_DATE,
    userid character varying(50) NOT NULL
);


ALTER TABLE bigbull.demataccount OWNER TO postgres;

--
-- Name: financial_instruments; Type: TABLE; Schema: bigbull; Owner: postgres
--

CREATE TABLE bigbull.financial_instruments (
    ticker_symbol character varying(20) NOT NULL,
    instrument_type character varying(50),
    exchange character varying(20),
    companyname character varying(100) NOT NULL
);


ALTER TABLE bigbull.financial_instruments OWNER TO postgres;

--
-- Name: financial_transaction; Type: TABLE; Schema: bigbull; Owner: postgres
--

CREATE TABLE bigbull.financial_transaction (
    transaction_id character varying(50) NOT NULL,
    transaction_type character varying(50) NOT NULL,
    amount numeric(15,2) NOT NULL,
    payment_method character varying(50),
    status character varying(20),
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    tradingaccid character varying(50) NOT NULL,
    bankaccountno character varying(30)
);


ALTER TABLE bigbull.financial_transaction OWNER TO postgres;

--
-- Name: linkedbankaccount; Type: TABLE; Schema: bigbull; Owner: postgres
--

CREATE TABLE bigbull.linkedbankaccount (
    bankaccountno character varying(30) NOT NULL,
    ifsc_code character varying(15) NOT NULL,
    bankname character varying(100),
    isprimary boolean DEFAULT false,
    userid character varying(50) NOT NULL
);


ALTER TABLE bigbull.linkedbankaccount OWNER TO postgres;

--
-- Name: marketdata; Type: TABLE; Schema: bigbull; Owner: postgres
--

CREATE TABLE bigbull.marketdata (
    ticker_symbol character varying(20) NOT NULL,
    "timestamp" timestamp without time zone NOT NULL,
    dailyhigh numeric(10,2),
    dailylow numeric(10,2),
    currprice numeric(10,2),
    volume bigint
);


ALTER TABLE bigbull.marketdata OWNER TO postgres;

--
-- Name: orders; Type: TABLE; Schema: bigbull; Owner: postgres
--

CREATE TABLE bigbull.orders (
    order_id character varying(50) NOT NULL,
    order_type character varying(20),
    price numeric(10,2),
    status character varying(20),
    orderqty integer NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    tradingaccid character varying(50) NOT NULL,
    ticker_symbol character varying(20) NOT NULL,
    CONSTRAINT orders_order_type_check CHECK (((order_type)::text = ANY ((ARRAY['BUY'::character varying, 'SELL'::character varying])::text[]))),
    CONSTRAINT orders_status_check CHECK (((status)::text = ANY ((ARRAY['Pending'::character varying, 'Executed'::character varying, 'Cancelled'::character varying])::text[])))
);


ALTER TABLE bigbull.orders OWNER TO postgres;

--
-- Name: portfolio_holds; Type: TABLE; Schema: bigbull; Owner: postgres
--

CREATE TABLE bigbull.portfolio_holds (
    demataccid character varying(50) NOT NULL,
    ticker_symbol character varying(20) NOT NULL,
    current_quantity_held integer DEFAULT 0
);


ALTER TABLE bigbull.portfolio_holds OWNER TO postgres;

--
-- Name: trade; Type: TABLE; Schema: bigbull; Owner: postgres
--

CREATE TABLE bigbull.trade (
    trade_id character varying(50) NOT NULL,
    execution_qty integer NOT NULL,
    execution_price numeric(10,2) NOT NULL,
    execution_time timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    order_id character varying(50) NOT NULL,
    demataccid character varying(50) NOT NULL
);


ALTER TABLE bigbull.trade OWNER TO postgres;

--
-- Name: tradingaccount; Type: TABLE; Schema: bigbull; Owner: postgres
--

CREATE TABLE bigbull.tradingaccount (
    tradingaccid character varying(50) NOT NULL,
    avlbalance numeric(15,2) DEFAULT 0.00,
    userid character varying(50) NOT NULL
);


ALTER TABLE bigbull.tradingaccount OWNER TO postgres;

--
-- Name: watchlist; Type: TABLE; Schema: bigbull; Owner: postgres
--

CREATE TABLE bigbull.watchlist (
    watchlist_id character varying(50) NOT NULL,
    watchlist_name character varying(100) NOT NULL,
    userid character varying(50) NOT NULL
);


ALTER TABLE bigbull.watchlist OWNER TO postgres;

--
-- Name: watchlist_contains; Type: TABLE; Schema: bigbull; Owner: postgres
--

CREATE TABLE bigbull.watchlist_contains (
    watchlist_id character varying(50) NOT NULL,
    ticker_symbol character varying(20) NOT NULL
);


ALTER TABLE bigbull.watchlist_contains OWNER TO postgres;

--
-- Name: appuser appuser_email_key; Type: CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.appuser
    ADD CONSTRAINT appuser_email_key UNIQUE (email);


--
-- Name: appuser appuser_pannumber_key; Type: CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.appuser
    ADD CONSTRAINT appuser_pannumber_key UNIQUE (pannumber);


--
-- Name: appuser appuser_phonenumber_key; Type: CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.appuser
    ADD CONSTRAINT appuser_phonenumber_key UNIQUE (phonenumber);


--
-- Name: appuser appuser_pkey; Type: CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.appuser
    ADD CONSTRAINT appuser_pkey PRIMARY KEY (userid);


--
-- Name: company company_pkey; Type: CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.company
    ADD CONSTRAINT company_pkey PRIMARY KEY (companyname);


--
-- Name: demataccount demataccount_pkey; Type: CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.demataccount
    ADD CONSTRAINT demataccount_pkey PRIMARY KEY (demataccid);


--
-- Name: demataccount demataccount_userid_key; Type: CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.demataccount
    ADD CONSTRAINT demataccount_userid_key UNIQUE (userid);


--
-- Name: financial_instruments financial_instruments_pkey; Type: CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.financial_instruments
    ADD CONSTRAINT financial_instruments_pkey PRIMARY KEY (ticker_symbol);


--
-- Name: financial_transaction financial_transaction_pkey; Type: CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.financial_transaction
    ADD CONSTRAINT financial_transaction_pkey PRIMARY KEY (transaction_id);


--
-- Name: linkedbankaccount linkedbankaccount_pkey; Type: CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.linkedbankaccount
    ADD CONSTRAINT linkedbankaccount_pkey PRIMARY KEY (bankaccountno);


--
-- Name: marketdata marketdata_pkey; Type: CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.marketdata
    ADD CONSTRAINT marketdata_pkey PRIMARY KEY (ticker_symbol, "timestamp");


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (order_id);


--
-- Name: portfolio_holds portfolio_holds_pkey; Type: CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.portfolio_holds
    ADD CONSTRAINT portfolio_holds_pkey PRIMARY KEY (demataccid, ticker_symbol);


--
-- Name: trade trade_pkey; Type: CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.trade
    ADD CONSTRAINT trade_pkey PRIMARY KEY (trade_id);


--
-- Name: tradingaccount tradingaccount_pkey; Type: CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.tradingaccount
    ADD CONSTRAINT tradingaccount_pkey PRIMARY KEY (tradingaccid);


--
-- Name: tradingaccount tradingaccount_userid_key; Type: CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.tradingaccount
    ADD CONSTRAINT tradingaccount_userid_key UNIQUE (userid);


--
-- Name: watchlist_contains watchlist_contains_pkey; Type: CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.watchlist_contains
    ADD CONSTRAINT watchlist_contains_pkey PRIMARY KEY (watchlist_id, ticker_symbol);


--
-- Name: watchlist watchlist_pkey; Type: CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.watchlist
    ADD CONSTRAINT watchlist_pkey PRIMARY KEY (watchlist_id);


--
-- Name: demataccount demataccount_userid_fkey; Type: FK CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.demataccount
    ADD CONSTRAINT demataccount_userid_fkey FOREIGN KEY (userid) REFERENCES bigbull.appuser(userid) ON DELETE CASCADE;


--
-- Name: financial_instruments financial_instruments_companyname_fkey; Type: FK CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.financial_instruments
    ADD CONSTRAINT financial_instruments_companyname_fkey FOREIGN KEY (companyname) REFERENCES bigbull.company(companyname);


--
-- Name: financial_transaction financial_transaction_bankaccountno_fkey; Type: FK CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.financial_transaction
    ADD CONSTRAINT financial_transaction_bankaccountno_fkey FOREIGN KEY (bankaccountno) REFERENCES bigbull.linkedbankaccount(bankaccountno);


--
-- Name: financial_transaction financial_transaction_tradingaccid_fkey; Type: FK CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.financial_transaction
    ADD CONSTRAINT financial_transaction_tradingaccid_fkey FOREIGN KEY (tradingaccid) REFERENCES bigbull.tradingaccount(tradingaccid);


--
-- Name: linkedbankaccount linkedbankaccount_userid_fkey; Type: FK CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.linkedbankaccount
    ADD CONSTRAINT linkedbankaccount_userid_fkey FOREIGN KEY (userid) REFERENCES bigbull.appuser(userid) ON DELETE CASCADE;


--
-- Name: marketdata marketdata_ticker_symbol_fkey; Type: FK CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.marketdata
    ADD CONSTRAINT marketdata_ticker_symbol_fkey FOREIGN KEY (ticker_symbol) REFERENCES bigbull.financial_instruments(ticker_symbol);


--
-- Name: orders orders_ticker_symbol_fkey; Type: FK CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.orders
    ADD CONSTRAINT orders_ticker_symbol_fkey FOREIGN KEY (ticker_symbol) REFERENCES bigbull.financial_instruments(ticker_symbol);


--
-- Name: orders orders_tradingaccid_fkey; Type: FK CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.orders
    ADD CONSTRAINT orders_tradingaccid_fkey FOREIGN KEY (tradingaccid) REFERENCES bigbull.tradingaccount(tradingaccid);


--
-- Name: portfolio_holds portfolio_holds_demataccid_fkey; Type: FK CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.portfolio_holds
    ADD CONSTRAINT portfolio_holds_demataccid_fkey FOREIGN KEY (demataccid) REFERENCES bigbull.demataccount(demataccid);


--
-- Name: portfolio_holds portfolio_holds_ticker_symbol_fkey; Type: FK CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.portfolio_holds
    ADD CONSTRAINT portfolio_holds_ticker_symbol_fkey FOREIGN KEY (ticker_symbol) REFERENCES bigbull.financial_instruments(ticker_symbol);


--
-- Name: trade trade_demataccid_fkey; Type: FK CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.trade
    ADD CONSTRAINT trade_demataccid_fkey FOREIGN KEY (demataccid) REFERENCES bigbull.demataccount(demataccid);


--
-- Name: trade trade_order_id_fkey; Type: FK CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.trade
    ADD CONSTRAINT trade_order_id_fkey FOREIGN KEY (order_id) REFERENCES bigbull.orders(order_id);


--
-- Name: tradingaccount tradingaccount_userid_fkey; Type: FK CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.tradingaccount
    ADD CONSTRAINT tradingaccount_userid_fkey FOREIGN KEY (userid) REFERENCES bigbull.appuser(userid) ON DELETE CASCADE;


--
-- Name: watchlist_contains watchlist_contains_ticker_symbol_fkey; Type: FK CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.watchlist_contains
    ADD CONSTRAINT watchlist_contains_ticker_symbol_fkey FOREIGN KEY (ticker_symbol) REFERENCES bigbull.financial_instruments(ticker_symbol);


--
-- Name: watchlist_contains watchlist_contains_watchlist_id_fkey; Type: FK CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.watchlist_contains
    ADD CONSTRAINT watchlist_contains_watchlist_id_fkey FOREIGN KEY (watchlist_id) REFERENCES bigbull.watchlist(watchlist_id);


--
-- Name: watchlist watchlist_userid_fkey; Type: FK CONSTRAINT; Schema: bigbull; Owner: postgres
--

ALTER TABLE ONLY bigbull.watchlist
    ADD CONSTRAINT watchlist_userid_fkey FOREIGN KEY (userid) REFERENCES bigbull.appuser(userid);


--
-- PostgreSQL database dump complete
--

\unrestrict VS1cPSEokpdKGpX80Q2dGaJFCi4fevr6cNioEzUAoDNhzEU8jaIV6qDDAVAh6lb

